@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.section-1 {
    display: flex;
}

.section-1-left {
    background: linear-gradient(to left, #ff0099, #493240);
    height: 550px;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
}

.section-1-left p {
    font-size: 15px;
}

.section-1-left h1 {
    font-size: 35px;
}

.para {
    position: absolute;
}

.img {
    position: relative;
    left: 400px;
    top: 27px;
}

.section-1-left img {
    width: 70%;
    height: 500px;
}

.section-1-left button {
    height: 35px;
    width: 45%;
    border-radius: 10px;
    background: linear-gradient(to left, #000428, #004e92);
    margin-top: 10px;
    margin-left: -9px;
    border-style: none;
}

.section-1-right {
    height: 550px;
    width: 40%;
    background: linear-gradient(to right, #aa076b, #61045f);
}

/* section-2 */

.section-2 {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #000428, #004e92);
    height: 650px;
}

.section-2-left {
    width: 100%;
    padding: 80px;
}

.section-2-left-empty {
    height: 400px;
    width: 50%;
    background: linear-gradient(to right, #000428, #004e92);
    border: 8px solid black;
    position: relative;
    margin-top: 20px;
}

.section-2-left img {
    width: 30%;
    height: 400px;
    position: absolute;
    z-index: 1;
    margin-left: 30px;

}

.section-2-right {
    padding: 20px;
}

.section-2-right h3 {
    font-size: 25px;
    padding: 10px;
}

.section-2-right p {
    font-size: 20px;
    padding: 10px;
}

.section-2-right button {
    height: 40px;
    width: 30%;
    margin: 12px;
    border-radius: 20px;
    background: linear-gradient(to right, #4e54c8, #8f94fb); 
    font-size: 15px;
}

/* section-3 */

.section-3 {
    background: linear-gradient(to right, #000428, #004e92);
}

.section-3-upper {
    padding: 30px;
    margin-left: 65px;
}

.section-3-upper h3 {
    font-size: 25px;
}

.section-3-upper p {
    font-size: 20px;
}

.section-3-lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-left: 100px;
    row-gap: 20px;
}

.section-3-lower-1 {
    background: linear-gradient(to right, #4e54c8, #8f94fb); 
    height: 250px;
    width: 80%;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.section-3-lower-1 i{
    font-size: 40px;
    padding: 10px;
}

.section-3-lower-1 h3{
    font-size: 25px;
    padding: 10px;
}

.section-3-lower-1 p{
    font-size: 20px;
    padding: 10px;
}

.section-3-lower-1 button{
    height: 30px;
    width: 30%;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(to left, #000428, #004e92);
}

/* section-4 */
.section-4{
    height: 400px;
    background: linear-gradient(to left, #000428, #004e92);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    padding: 100px;
}

.section-4-left{
    font-size: 20px;
}

.section-4-left h3{
    font-size: 30px;
    padding: 10px;
}

.section-4-left p{
    font-size: 20px;
    
}

.section-4-left i{
    font-size: 25px;
    margin: 10px;
}

fieldset{
    height: 250px;
    width: 55%;
    border: 6px solid black;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}

legend{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

input{
    height: 30px;
    width: 70%;
    margin: 11px;
    border-radius: 10px;
    border-style: hidden;
}

button{
    height: 30px;
    width: 40%;
    margin-left: 100px;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(to right, #4e54c8, #8f94fb); 
}

/* footer */

.footer{
    height: 100px;
    background: linear-gradient(to top, #000428, #004e92);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}